<div class="groupBtn">
  <h3 class="title">
    Lista de postagens com tabela manual
  </h3>
  <a class="btn-primary" routerLink="../cadastroPost">Novo post</a>
</div>
<div class="groupBtnAcao">
  <input type="button" routerLink="" text="Editar post" value="Editar post" [disabled]="!displayButton">
</div>
<table>
  <tr>
    <th><input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="toogleSelectAll()"></th>
    <th *ngFor="let column of displayedColumns">{{ column }}</th>
  </tr>
  <tr *ngFor="let itens of dataSource | slice:0:10;">
    <td><input name="checkbox" type="checkbox" id="itens.id" [(ngModel)]="itens.checked" (ngModelChange)="enableEdit()"></td>
    <td>{{ itens.userId }}</td>
    <td>{{ itens.id }}</td>
    <td>{{ itens.title }}</td>
    <td>{{ itens.body }}</td>
  </tr>
</table>