.container {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin-bottom: 8px;
}

button{
    margin-top: 24px;
}

.btn{
    display: flex;
    justify-content: end;
}