.container{
    display: flex;
}

.text{
    width: 50%;
    display: flex;
    margin: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.images{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.images img{
    height: 80%;
}
