.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 32px;
    justify-content: center;
    align-items: flex-start;
}

.images{
    margin-right: 32px;
}

.images img{    
    max-width: calc(100vh - 184px);
}
